body{
    font-family: helvetica, sans-serif;
    padding-bottom: 80px;
}

header {
    width: 100%;
    background: linear-gradient(to right, #ff8000, #ffcc00); 
    padding: 20px 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    color: white; 
    font-family: 'Arial', sans-serif; 
}

header h1 {
    margin: 0; 
    font-size: 14px; 
    font-weight: bold; 
    letter-spacing: 2px; 
}

#header_top {
    background: linear-gradient(to right, #ff8000, #ffcc00);
    height: 80px; 
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

#header_down {
    background-color: white; 
    height: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 128, 0); 
    font-family: Arial, sans-serif;
    font-size: 14px;
}


menu{
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-top: 30px;
}

#central{
    float: left;
    margin-top: 30px;
    width:60%;
    padding-bottom: 80px;
}

footer{
    margin-top: 20px;
    height: 60px;
    background: linear-gradient(to right, #ff8000, #ffcc00);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ombra leggera */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: white; 
    font-family: Arial, sans-serif; 
    font-size: 14px;
}

.buttonform{
    background-color: rgb(255, 128, 0);
    min-width : 60px;
    color: white;
    border: 0px;
    border-radius: 10px;
}


.buttonform:hover{
    opacity: 0.6;
    
}

.titolo_bianco{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.formlogin{
    text-align: center;
    margin-top: 20px;
    
}

.titolo_dark{
    font-size: 20px;
    color: rgb(255, 128, 0);
    font-weight: bold;
}

.menubutton{
    width: 80%;
    height: 30px;
    margin-top: 10px;

}

.table_output{
    min-width:80%;
}
.cella{  
    border-bottom: 1px solid grey;
}

@media screen and (max-width: 768px){
    #menu, #central{
        float: none;
        display: block;
        width:90%;
        margin-left: 5%;
    }
}

input:invalid {
    border-color: red;
}
input, input:valid{
    border-color: blue;
}

